<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :size %>
    <%= select(:Reservation, :size, Reservation::SIZE) %>

    <%= f.label :library %>
    <%= select(:Reservation, :library, Reservation::LIBRARY) %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :start_date => Date.today, end_date: (Date.today + 7.days).end_of_day  %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
