<p id="notice"><%= notice %></p>
<% if @user.admin %>
   <h1>Hey Admin!</h1>
<% else %>
   <h1>Hey <%=@user.name%>!</h1>   
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%= link_to 'logout', logout_path %>
